<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Big Data & Cloud Computing Intern</h3>
                            <div class="time">Dec. 2015 - May 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Intel, Shanghai</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>My job at Intel was mainly testing and evaluating the Intel-built, open-source cloud platform named <a href="http://trustedanalytics.org/">Trusted Analytics Platform</a>(TAP). </p>  
                        <p>TAP is designed for programmers and data scientists to accelerate the creation of advanced analytics and machine learning solutions. TAP is built based on the <a href="http://www.cloudera.com/">Cloudera</a> as the data engine and <a href="https://www.cloudfoundry.org/">CloudFoundry</a> as the resource engine. The source code of TAP can be found on <a href="https://github.com/trustedanalytics">Github</a>.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Member</h3>
                            <div class="time">Dec. 2014 - Aug. 2015</div>
                        </div><!--//upper-row-->
                        <div class="company"> Emerging Computing Technology Laboratory at SJTU, Shanghai</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>My undergraduate research with <a href="http://umji.sjtu.edu.cn/~wkqian/index.html">Dr. Weikang Qian</a> was focused on approximate computation and synthesizing approximate circuits.</p>
                        <p>The goal is to simplify a digital circuit given the error rate threshold. The algorithm utilizes the signal probability based cut and extended don't care terms. <a href="https://people.eecs.berkeley.edu/~alanmi/abc/">ABC</a> was used to implement and verify the algorithm.</p>
                        
                    </div><!--//details-->
                </div><!--//item-->
                

                
            </section><!--//section-->