<style>
    li span { position: relative; left: 0px; }
    ul {
    margin-left: 0;
    padding-left: 15px;
}
</style>
<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Face Detection Using Convolutional Neural Network</h3>
                            <div class="time">Fall 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">SJTU</div>
                    </div><!--//meta-->
                    <div class="details">
                    <ul>
                        <li><span>Cooperated with Intel to design and implement a real-time face detection algorithm</span></li>
                        <li><span>Applied sliding windows and image pyramid to preprocess each frame of the video</span></li>
                        <li><span>Limited execution time per frame to 40ms using Cifar-10 Neural Network under Caffe framework</span></li>
                    </ul>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Identification of Native English Speaker</h3>
                            <div class="time">Spring 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">SJTU</div>
                    </div><!--//meta-->
                    <div class="details">
                    <ul>
                        <li><span>Implemented MFCCs on Matlab to extract the unique audio features of a person’s speech</span></li>
                        <li><span>Trained the datasets using support vector machine and neural network in Matlab to reach an error rate at 9%</span></li>
                    </ul>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->